body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 4rem;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffd401;
}

.container {
  margin-top: 2.5em;
}

.posters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60rem;
}

.posters img {
  width: 8.5rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.posters img:hover {
  transform: scale(1.5);
}

.genre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie_name {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.container p {
  color: #ffd401;
  transition: 300 all ease-in;
  transform: translateY(0);
}
