body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 4rem;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffd401;
}

.container {
  margin-top: 1.5rem;
}

.genre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  color: #ffd401;
  font-weight: 800;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  color: #202b38;
  background-color: #ffd401;
}
